{% extends 'base.html' %}

{% block title %}
<div class="tm-row">
    <div class="tm-col-left"></div>
    <main class="tm-col-right">
        <section class="tm-content">
            <h2 class="mb-5 tm-content-title">Новостной портал</h2>
            <p class="mb-5">Новостной портал TravelCOM - бесплатная площадка для публикации статей о Ваших
                путешствиях.</p>
            <hr class="mb-5">
            <p class="mb-5">Для того чтобы опубликовать статью зарегистрируйтесь.</p>
            <a href="registration" class="btn btn-primary">К регистрации</a>
        </section>
    </main>
</div>
{% block content %}{% endblock %}
{% endblock %}

