{% extends 'base.html' %}

{% block title %}
<div class="tm-row">
    <div class="tm-col-left"></div>
    <main class="tm-col-right tm-contact-main">
        <section class="tm-content tm-contact">
            <h2 class="mb-4 tm-content-title">Вход</h2>
            <p class="mb-85">Для того чтобы опубликовать статью, необходимо войти.</p>
            <form id="contact-form" action="" method="POST">
                <div class="form-group mb-4">
                    <input type="text" name="email" class="form-control" placeholder="Ваш email:" required="" />
                </div>
                <div class="form-group mb-4">
                    <input type="password" name="password" class="form-control" placeholder="Пароль" required="" />
                </div>
<!--                <div class="my-menu mb-1">-->
<!--                    <input type="checkbox" name="rename" required="" /> Запомнить меня-->
<!--                </div>-->
                <div class="orm-group mb-4">
                    <button type="submit" class="btn btn-big btn-primary">Войти</button>
                </div>
            </form>
        </section>
    </main>
</div>
{% endblock %}