{% extends 'base.html' %}

{% block title %}
<div class="tm-row">
    <div class="tm-col-left"></div>
    <main class="tm-col-right">
        <section class="tm-content">
            <div class="media my-3 mb-5 tm-service-media tm-service-media-img-l">
                <img src="img/services-1.jpg" alt="Image" class="tm-service-img">
                <div class="media-body tm-service-text">
                    <h2 class="mb-4 tm-content-title">Увидеть Арктику и очуметь</h2>
                    <p>Могли бы вы подумать, что всего в двух часах от Москвы жизнь совсем другая?</p>
                </div>
            </div>
            <div class="media my-3 mb-5 tm-service-media">
                <div class="media-body tm-service-text">
                    <h2 class="mb-4 tm-content-title">Чумовые выходные в Арктике</h2>
                    <p>Здесь, за полярным кругом, вместо квартиры в многоэтажке — укрытый...</p>
                </div>
                <img src="img/services-2.jpg" alt="Image" class="tm-service-img-r">
            </div>
            <div class="media my-3 tm-service-media tm-service-media-img-l">
                <img src="img/services-3.jpg" alt="Image" class="tm-service-img">
                <div class="media-body tm-service-text">
                    <h2 class="mb-4 tm-content-title">Проверено на себе: Антарктида</h2>
                    <p>Антарктида — самый юг планеты, добраться туда нелегко.</p>
                </div>
            </div>
            <a href="#" class="btn btn-primary">Читать остальные</a>
        </section>
    </main>
</div>
{% endblock %}